 server:
   port: 8081
   servlet:
     context-path: /api # Basic route
     context-parameters:
       spring.mvc.servlet.path: /consultancy #Rest controller path
 spring:
   datasource:
     url: jdbc:h2:mem:consultancy_db;DB_CLOSE_DELAY=-1
     driver-class-name: org.h2.Driver
     username: root
     password: test

   jpa:
     database-platform: org.hibernate.dialect.H2Dialect
     hibernate:
       ddl-auto: update
     show-sql: true

   h2:
     console:
      enabled: true
      path: /h2-console

   flyway:
     enabled: true
     clean-disabled: false
     locations:
       - classpath:db/migration

   cache:
     type: REDIS
     redis:
       time-to-live: 650000
       cache-null-values: false
   data:
     redis:
       host: localhost
       port: 6379

 logging:
   level:
     org:hibernate.SQL: debug
     org.flyway: info